<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
  <body>
  <h1>Thanks for playing A-Lister</h1>
   <h3>You scored <%= @correct_answers.count %> points, great job!</h3>


    <% @correct_answers.each do |answer| %>
     <h4><%= answer.name %></h4>
     <h4><%= answer.movie %></h4>
     <h4><a href="#" target="_blank"><%= answer.netflix_id %></a></h4>
     <br>
     <% end %>


  </body>
</html>